<div class="modal fade" id="createSensorModal" tabindex="-1" role="dialog" aria-labelledby="createSensorModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createSensorModalLongTitle">{{ _('Add New Sensor') }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="createSensorForm" id="createSensorForm">
                    <div class="form-group">
                        <label for="coordinatesInput">{{ _('Sensor Coordinates') }}</label>
                        <input name="coordinates" type="text" class="form-control" id="coordinatesInput"
                               placeholder="lat,long" pattern="[0-9]+\.?[0-9]*,[0-9]+\.?[0-9]*">
                    </div>
                    <div class="form-group">
                        <label for="sync_typeSelect">{{ _('Select Syncronization Type') }}</label>
                        <select name="sync_type" class="form-control" id="sync_typeSelect">
                            {% for item in sync_list %}
                                <option value="{{ item }}">{{ sync_list[item] }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal"
                                id="createSensorModalButton">{{ _('Confirm') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>