{% extends "base.html" %}

{% block app_content %}
    <h1>Sensors settings placeholder</h1>
    <div class="container settings_container">
        <div class="map_placeholder">
            {% include 'settings/_map.html' %}
        </div>
        <div class="sensors_grid_placeholder container">
            <div class="row">
                <div class="col">One of three columns</div>
                <div class="col">One of three columns</div>
                <div class="col-sm">One of three columns</div>
            </div>
        </div>
    </div>
{% endblock %}