{% extends "base.html" %}

{% block app_content %}
    <h1>Sensors settings placeholder</h1>
    <div class="container settings_container">
        <div class="map_placeholder">
            {% include 'settings/_map.html' %}
        </div>
        <div class="container sensors_grid_container" id="sensors_table">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">{{ _('Coordinates') }}</th>
                    <th scope="col">{{ _('Region Name') }}</th>
                    <th scope="col">{{ _('Shared') }}</th>
                    <th scope="col">{{ _('Syncronization Type') }}</th>
                    <th scope="col">{{ _('Status') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for sensor in sensors %}
                    <tr>
                        <td>{{ sensor['coordinates'] }}</td>
                        <td>{{ sensor['region_name'] }}</td>
                        <td>{{ sensor['is_shared'] }}</td>
                        <td>{{ sensor['sync_type'] }}</td>
                        <td>{{ sensor['status'] }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a}</td>
                    <td>{a</td>
                    <td>a</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}