{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        function set_dates() {
            for (let i = 1; i < statisticData.length; i++) {
                statisticData[i][0] = new Date(statisticData[i][0]);
            }
        }

        let statisticData = {{ data|safe }};
        set_dates();

        google.charts.load('current', {'packages': ['line']});
        google.charts.setOnLoadCallback(function () {
            drawChart([0, 1, 2])
        });

        function drawChart(selectedColumn) {

            let data = new google.visualization.arrayToDataTable(statisticData);
            let myView = new google.visualization.DataView(data);
            myView.setColumns(selectedColumn);

            let options = {
                chart: {
                    title: '{{ _('The concentration of particles in the air') }}',
                    subtitle: '{{ _('in µg/m3') }}'
                },
                width: 900,
                height: 500
            };

            let chart = new google.charts.Line(document.getElementById('line_chart'));

            chart.draw(myView, google.charts.Line.convertOptions(options));
        }
    </script>
{% endblock %}

{% block app_content %}
    <div class="container">
        <div class="container options">
            <div class="datepicker-container">
                <label class="form-check-label" for="fromDatepicker">
                    {{ _('From:') }}
                </label>
                <input type='text' class='datepicker-here' data-timepicker="true" id="fromDatepicker"/>

                <label class="form-check-label" for="toDatepicker">
                    {{ _('To:') }}
                </label>
                <input type='text' class='datepicker-here' data-timepicker="true" id="toDatepicker"/>
                <br/>
                <input type="button" class="btn btn-secondary" value="{{ _('Search') }}" id="searchByDateButton">
            </div>


            <div class="checkbox-container">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="pm10CheckBox" checked>
                    <label class="form-check-label" for="pm10CheckBox">
                        {{ _('PM10') }}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="2" id="pm25CheckBox" checked>
                    <label class="form-check-label" for="pm25CheckBox">
                        {{ _('PM2.5') }}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="3" id="temperatureCheckBox">
                    <label class="form-check-label" for="temperatureCheckBox">
                        {{ _('Temperature') }}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="4" id="humidityCheckBox">
                    <label class="form-check-label" for="humidityCheckBox">
                        {{ _('Humidity') }}
                    </label>
                </div>
            </div>
        </div>
        <div id="line_chart"></div>
    </div>

{% endblock %}