.google-button {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 0;
    background: white;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    padding: 0;
}

.google-button:focus,
.google-button:hover {
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}

.google-button:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
}

.google-button__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0 8px 8px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
}

.google-button__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', arial, sans-serif;
}

#map {
    height: 400px;
    width: 100%;
}

#sensors_map {
    height: 100%;
    width: 100%;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.settings_container {
    height: 500px;
    width: 100%;
}

.map_placeholder {
    height: 100%;
    width: 35%;
    display: block;
    float: left;
}

.sensors_grid_container {
    height: 100%;
    width: 60%;
    display: block;
    float: right;
    font-family: "Roboto", sans-serif;
}

/* Bootstrap Toggle v2.2.2 corrections for Bootsrtap 4*/
.toggle-off {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}

.options {
    width: 20%;
    float: left;
}

#line_chart {
    width: 80%;
    float: right;
}

.datepicker-container {
    margin-top: 20px;
    margin-bottom: 20px;
}