{% extends 'bootstrap/base.html' %}

{% block scripts %}
    <script type="text/javascript">
        window.appConfig = {
            api_key: '{{ config['ACCUWEATHER_API_KEY'] }}',
            language: '{{ config['ACCUWEATHER_LANGUAGE'] }}',
            accu_basic_url: '{{ config['ACCUWEATHER_BASIC_URL'] }}',
            basic_url: '{{ request.host_url }}'
        }
    </script>
    <script src="{{ url_for('static', filename='accuweather.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap-toggle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='datepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='OverlayScrollbars.js') }}"></script>
    <script src="{{ url_for('static', filename='sensors.js') }}"></script>
    <script src="{{ url_for('static', filename='statistic.js') }}"></script>

    {{ super() }}
{% endblock %}

{% block head %}
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="script">
    {{ super() }}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-toggle.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='datepicker.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='OverlayScrollbars.css') }}">

{% endblock %}

{% block title %}
    {% if title %}{{ title }} - Diploma{% else %}Welcome to Diploma{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Diploma</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('main.index') }}">{{ _('Home') }} <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('statistic.index') }}">{{ _('Statistic') }}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ _('Settings') }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item"
                           href="{{ url_for('settings.account_settings') }}">{{ _('Account') }}</a>
                        <a class="dropdown-item"
                           href="{{ url_for('settings.sensors_settings') }}">{{ _('Sensors') }}</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_anonymous %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">{{ _('Login') }}</a>
                    </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}